/* App.css */
* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    /* margin: 0; */
    /* display: flex; */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container-fluid {
    /* margin-left-min: 15%; */
    /* Adjust as needed */
    margin-top: 2em;
}